* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.mybody {
  background-color: burlywood;
}
.my-header {
  color: rgb(4, 4, 109);
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  border: 2px solid rgb(2, 2, 58);
  background-color: yellow;
}

.choice {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-left: 10px;
}

.number {
  font-size: 150px;
  text-align: center;
  color: rgb(30, 6, 114);
  font-family: "Press Start 2P";
  font-weight: blue;
  border: 4px solid rgb(7, 2, 73);
  padding: 2px 25px;
  background-color: yellow;
  font-weight: bold;
  width: 200px;
}

.newnumber {
  text-align: center;
  margin-top: 10px;
}

.guess {
  margin-top: 50px;
  border: 3px solid rgb(122, 81, 4);
  height: 170px;
  width: 200px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
}

.checkme {
  margin-top: 10px;
}

.check:hover {
  background-color: rgb(3, 3, 90);
  color: white;
  border: 2px solid rgb(25, 4, 100);
}

.check {
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid rgb(3, 3, 71);
  padding: 3px 3px;
  background-color: aquamarine;
  color: rgb(3, 3, 68);
}

.guessing {
  text-align: right;
  margin-top: 150px;
}

.guess-number {
  margin-top: 0px;
  font-size: 40px;
  font-weight: bold;
  font-family: "jokerman";
}

p {
  color: rgb(2, 43, 43);
}

.score {
  font-size: 60px;
  color: rgb(112, 26, 4);
}

.highscore {
  font-size: 60px;
  color: rgb(104, 4, 4);
}

.play:hover {
  color: white;
  background-color: rgb(8, 66, 2);
}

.play {
  color: rgb(3, 3, 122);
  font-size: 20px;
  padding: 4px 4px;
  font-weight: bold;
  background-color: rgb(252, 191, 112);
  margin-top: 100px;
}
